<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML to PDF</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
  <style type="text/css">
    * {
      font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
    }
    body {
      margin: 40px auto;
      max-width: 290px;
      line-height: 1.6;
      font-size: 16px;
      color: #444;
      padding: 0 7px;
    }
    h1, h2, h3 {
      line-height: 1.2
    }
    pre,
    form {
      background-color: #dedede;
      font-size: 12px;
      padding: 15px;
      margin: 0 -7px;
    }
    button {
      margin: auto;
      width: 100%;
      padding: 5px;
      margin-top: 10px;
      background: white;
    }
  </style>
</head>
<body>
<h1>HTML to PDF<br> as a Service</h1>
<br>
<p>
  Easy to use, just ask curl&hellip;
</p>
<pre>curl -F "file=@/path/to/file.html" \
   http://html2pdf.raph.site/</pre>
<p>
  &hellip;and it returns instantly a downloadable link to your PDF
</p>
<pre>http://html2pdf.raph.site/s/b7ae8.pdf</pre>
<br>
<p>
  Or use that form.
</p>
<form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <br>
  <button type="submit">Send</button>
</form>
<br>
<p>
  Made with &#128099; in Rust by <a href="https://twitter.com/rap2h">@rap2h</a><br>
  <i>It could crash.</i>
</p>
</body>
</html>